<div class="page__content_techmaptable">
<div class="page__content_techmaptable_content">

<table class="techmaptable">
<thead>

<tr>
<th colspan="29">
<div class="techmaptable__result" ></div>
</th>

<tr>
<th rowspan="2">
<img src="/images/excel_export.png" class="ajax-excel-export this__cursor_pointer" width="40" height="40">
</th>

<th rowspan="2">
Адрес
</th>

<th colspan="2">
Тонкие клиенты
</th>

<th colspan="2">
Системные блоки
</th>

<th colspan="2">
Моноблоки
</th>

<th colspan="2">
Ноутбуки
</th>

<th>
Сервер
</th>

<th>
Видеорегистраторы
</th>

<th>
Коммутаторы
</th>

<th colspan="2">
Телефоны
</th>

<th colspan="2">
Мониторы
</th>

<th colspan="2">
Пилоты (удлиннители)
</th>

<th rowspan="2">
ИБП
</th>

<th colspan="2">
Телевизоры
</th>

<th colspan="2">
Неттопы
</th>

<th rowspan="2">
Платёжный терминал(который маленький кассовый) указать есть или нет работает или нет
</th>

<th rowspan="2">
Инфомат ( есть или нет работает или нет)
</th>

<th rowspan="2">
Vipnet Координатор (модель и исправность)
</th>


<th rowspan="2">
Терминал выдачи талонов (есть лии нет работает или нет)
</th>


<th rowspan="2">
Прочее/комментарии/заметки
</th>
</tr>



<tr>


<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
Исправные
</th>

<th>
Неисправные(с номерами запявок)
</th>


<th>
Кол-во + марка
</th>

<th>
Кол-во + марка, указать исправное или нет
</th>

<th>
Кол-во + марка
</th>

<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
В наличии
</th>

<th>
Тут указать если необходимы
</th>



<th>
Исправные
</th>

<th>
Неисправные
</th>

<th>
Исправные
</th>

<th>
Неисправные
</th>
</tr>
</thead>
<tbody>

<?php
$TechmapTableRowsArray = $templateArgumentsArray[0];
foreach ($TechmapTableRowsArray as $TechmapTableRowElement)
{
echo $TechmapTableRowElement;
}
?>



</tbody>
</table>
<div class="page__content_techmaptable_menu">
</div>



</div>



</div>



