<!-- Согласно MVC тут не должно быть много текста, но это текст для демо примера -->
<div class="help_container">
    Это демо системы, предоставляющей доступ пользователям к их филиалам.<br>
    Пользователи могут вносить изменения в таблицу (сообщать о наличии и неисправности оборудования), а администратор
    может просматривать и редактировать информацию.<br>
    <br>
    После авторизации как admin, все внесенные ранее изменения будут удалены (демо режим).<br>
    Логин администратора admin, пароль admin.<br>
    Логин пользователя user1, пароль user1.<br>
    <a class="left-block__link" href="https://github.com/github36-public-php/techmaptable-resume-demo" target="_blank">Код
        проекта на github</a>
    <br>
</div>

<div class="window__wrapper">
    <form action="<?=$templateArgumentsArray[0]?>" method="POST">
        <div class="window shadow">
            <h3 class="window__header this__selectable_none">Вход в Техкарту</h3>
            <div class="window__content">
                <div class="authorization-form">
                    <label for="login"
                           class="authorization-form__login-label window__label this__selectable_none">Логин</label>
                    <input class="submit_input authorization-form__login-input window__input-type-text" value="admin"
                           type="text" name="login" autofocus>
                    <label for="password"
                           class="authorization-form__password-label window__label this__selectable_none">Пароль</label>
                    <input class="submit_input authorization-form__password-input window__input-type-text" value="admin"
                           type="password" name="password">
                </div>
            </div>
            <div class="window__footer window__footer-button-position">
                <a href="#"
                   class="submit_href button window__button authorization-button this__selectable_none">Вход</a>
            </div>
        </div>
    </form>
</div>