<?php

/*
Ревьювер!
В шаблонах не должна присутствовать логика - это плохоая реализация паттерна MVC.
Тем не менее она тут есть. Проект писал очень быстро - так получилось.
В свое оправдание скажу - во многих проектах мидлов она тоже присутствует.
*/

namespace techmap\templates;

include_once __DIR__.'/../vendor/autoload.php';
use techmap\classes\User;
use techmap\classes\Security;
use techmap\classes\Data;
use techmap\classes\HTML;

// Скрипт доступен только администраторам.
Security::AccessAdminOnly();

// $templateArgumentsArray[0] передается (действие для формы) но не используется. Опция временно оставлена.

// Получаем данные.
$section=Data::getData('section');

// Устанавливаем значения элементов формы.
//Создание нового пользователя
if ($section=='users_add')
{
$formAction = 'actions.php?action=user_add';
$formTitle = 'Создать нового пользователя';
$buttonText = 'Создать пользователя';
}

// Редактирование текущего пользователя.
if ($section=='users_edit')
{
$formAction = 'actions.php?action=user_edit';
$formTitle = 'Редактировать пользователя';
$buttonText = 'Редактировать пользователя';
$passwordHint = 'Оставьте поле пустым, если не хотите менять пароль.';
// Получаем данные.
$id=Data::getData('id');
$UserDataArray = User::GetAllUserDataBasedOnUserId($id);
$login = $UserDataArray['login'];
$user_role = $UserDataArray['user_role'];
switch ($user_role)
{
case 'Пользователь': $option1 = 'selected'; break;
case 'Администратор': $option2 = 'selected'; break;
}
$user_name = $UserDataArray['user_name'];
$user_surname = $UserDataArray['user_surname'];
$user_patronymic = $UserDataArray['user_patronymic'];
$user_description = $UserDataArray['user_description'];
}

?>


<form action="<?=$formAction?>" method="POST">
    <div class="panel__content_user_form">
        <div class="panel__content_user_form_content">


            <div class="panel__content_user_form_grid">
                <div class="panel__content_user_form_grid__header form__header">
                    <?=$formTitle?>
                </div>

                <input value="<?=$id?>" type="hidden" name="id">

                <label class="panel__content_user_form_grid__login-label form__label this__selectable_none">
                    Логин
                </label>
                <input class="panel__content_user_form_grid__login-input form__input-type-text" value="<?=$login?>"
                       type="text" name="login">

                <label class="panel__content_user_form_grid__password-label form__label this__selectable_none">
                    Пароль
                </label>
                <div class="panel__content_user_form_grid__password-div">
                    <input class="panel__content_user_form_grid__password-input form__input-type-text" value=""
                           type="text" name="password">&nbsp;<label class="form__hint-label"><?=$passwordHint?></label>
                </div>

                <label class="panel__content_user_form_grid__role-label form__label this__selectable_none">
                    Роль
                </label>

                <select class="panel__content_user_form_grid__role-select" name="user_role">
                    <option value="Пользователь"
                    <?=$option1?>>Пользователь (доступ только к указанной таблице)</option>
                    <option value="Администратор"
                    <?=$option2?>>Администратор (полный доступ)</option>
                </select>


                <label class="panel__content_user_form_grid__user_surname-label form__label this__selectable_none">
                    Фамилия
                </label>
                <input class="panel__content_user_form_grid__user_surname-input form__input-type-text"
                       value="<?=$user_surname?>" type="text" name="user_surname">


                <label class="panel__content_user_form_grid__user_name-label form__label this__selectable_none">
                    Имя
                </label>
                <input class="panel__content_user_form_grid__user_name-input form__input-type-text"
                       value="<?=$user_name?>" type="text" name="user_name">

                <label class="panel__content_user_form_grid__user_patronymic-label form__label this__selectable_none">
                    Отчество
                </label>
                <input class="panel__content_user_form_grid__user_patronymic-input form__input-type-text "
                       value="<?=$user_patronymic?>" type="text" name="user_patronymic">

                <label class="panel__content_user_form_grid__user_description-label form__label this__selectable_none">
                    Описание
                </label>
                <input class="panel__content_user_form_grid__user_description-input form__input-type-text"
                       value="<?=$user_description?>" type="text" name="user_description">
            </div>

        </div>
        <div class="panel__content_user_form_bottom_menu">

<?php
// Нижнее меню панели.
$panelBottomMenuArray[0] =  ['panel__button panel__button-left','index.php?page=admin&section=users', 'Назад'];
$panelBottomMenuArray[1] =  ['submit_href panel__button panel__button-left','', $buttonText];
echo HTML::ShowMenu($panelBottomMenuArray);
?>

        </div>
    </div>
</form>